#result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 1.8rem;
}
#result p {
  font-size: 0.83rem;
  color: hsla(222, 100%, 96%, 0.664);
}
#result #res-head {
  margin-bottom: 1.3888888889rem;
  color: hsla(222, 100%, 96%, 0.664);
}
#result .res-circle {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.1111111111rem;
}
#result .res-circle #circle-head {
  font-size: 3.2rem;
  color: hsl(0, 0%, 100%);
}
#result #content-head {
  margin-bottom: 0.5555555556rem;
  font-size: 1.25rem;
  color: hsl(0, 0%, 100%);
}
#result #content {
  text-align: center;
}

#summary {
  align-items: start;
}
#summary #summary-head {
  margin-bottom: 1.3888888889rem;
  color: hsl(224, 30%, 27%);
}
#summary .marks-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8333333333rem;
  padding: 0.5555555556rem;
  border-radius: 0.4444444444rem;
  font-size: 0.8rem;
}
#summary .marks-box img, #summary .marks-box svg {
  height: 0.95rem;
  width: 0.95rem;
}
#summary .marks-box .part-1 {
  display: flex;
  gap: 0.2777777778rem;
}
#summary .marks-box .part-2 {
  display: flex;
}
#summary .marks-box .part-2 .light-color {
  color: hsl(224, 30%, 27%);
}
#summary #reaction {
  background-color: hsla(0, 100%, 67%, 0.08);
}
#summary #reaction .part-1 {
  color: hsl(0, 100%, 67%);
}
#summary #memory {
  background-color: hsla(39, 100%, 56%, 0.08);
}
#summary #memory .part-1 {
  color: hsl(39, 100%, 56%);
}
#summary #verbal {
  background-color: hsla(166, 100%, 37%, 0.08);
}
#summary #verbal .part-1 {
  color: hsl(166, 100%, 37%);
}
#summary #visual {
  background-color: hsla(234, 85%, 45%, 0.08);
}
#summary #visual .part-1 {
  color: hsl(234, 85%, 45%);
}
#summary button {
  margin-top: 1.1111111111rem;
  width: 100%;
  padding-block: 0.5rem;
  border-radius: 1.1111111111rem;
  border: none;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
}
#summary button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    align-items: flex-start;
    overflow: auto;
  }
  #container {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 0 !important;
    overflow: auto !important;
  }
  #result {
    padding-top: 0.8333333333rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  #result .res-circle {
    width: 7.5rem;
    height: 7.5rem;
  }
  button {
    margin-top: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

button {
  font-family: inherit;
  font-weight: 500;
}

h1 {
  color: hsl(0, 0%, 100%);
}

#container {
  width: 32.5555555556rem;
  margin: 1rem;
  display: flex;
  border-radius: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.common-props {
  flex-basis: 50%;
  padding: 1.6666666667rem 1.6666666667rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
}

.common-head {
  font-size: 1rem;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */